.category_section {
  margin-top: 288px;
  .categories {

  .center{
    gap:21px;
    .line_border{
      border: 0.853535px solid rgba(138, 135, 135, 0.25);
      width: 666.61px;
      position: absolute;
      z-index: -1;
    };
    .little_cube{
      width: 14px;
      height: 14px
    }
  };
    .category_item {
      width: 169px;
      height: 169px;
     
    }
  }
}
