.latest_courses_section{
    background-image: url("../../../public/assets/images/Bitmap.png");
    background-size: cover;
    background-position: center;
    height: 447px;
    margin-top: 187px;
    padding-right: 137px;
   
 .content{
    margin-left: -13px;
    overflow: hidden;
    .header{
        margin-top: 85px;
        .left{
            margin-left: 165px;
        }
    };
    .slider_wrapper{
        margin-top: 63px;
        margin-left: -20px;
    }
 };
 @media screen and (max-width:576px) {
    padding-right: 22px;
    margin-top: 163px;
  .content{
    .header{
        margin-top: 30px;
       
    };
    .slider_wrapper{
        margin-top: 30px;
        margin-left: 0px;
    }
  }
 }
}