   // respond is the name of your mixin

   @mixin respond ($breakpoint) {
    @if $breakpoint==tablet {

    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint==laptop {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint==extra {
    @media only screen and (min-width: 1280px) { 
      @content;
    }
  }
};
@mixin flex_position($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }