.footer_section{
    height:552px;
    .overlay{
        background: linear-gradient(241.97deg, rgba(0, 0, 0, 0.436872) -16.2%, rgba(0, 0, 0, 0.787751) 55.86%);

    };
    .footer_text{
        top:141px;
        right:158px;
        width: 267px;
    }
    @media screen and (max-width:576px) {
        height: 350px;
        .footer_text{
            top:68px;
            right:68px;
        }
     
    }
}